body {
  margin: 0 auto;
  padding: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

$verde-acqua: #29df9c;

$fonts: mont, robo;

body {
  padding: 0 auto;
  margin: 0 auto;
}

@font-face {
  font-family: "mont";
  src: url("fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "robo";
  src: url("fonts/Roboto-Light.ttf");
}

nav {
  top: 0;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  background-color:#3c3c3c;
  padding: 10px;

  a {
    color: white;
    text-decoration: none;
    font-family: $fonts;
    text-transform: capitalize;
    font-size: 22px;
    padding: 0 20px;
    position: relative;
    left: 6px;
  }
}

header {
  height: 800px;
  background: linear-gradient(90deg, #313131 60%, $verde-acqua 40%);
  box-shadow: 0px 10px 20px rgba(0,0,0, 0.4);

  div {
    width: 80vw;
  }

  img {
    box-shadow: 8px 8px 8px rgba(0,0,0, 0.6);
    animation: fadein 5s;
    height: 550px;
  }

  h1 {
    color: white;
    font-family: $fonts;
    font-size: 50px;
    animation: fadein 5s;

    strong {
      font-size: 2em;
      color: $verde-acqua;
    }
  }

}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transition: translateY(0px);
  }
}

main {
  height: 1800px;
  background-color: #292929;
  position: relative;
  z-index: -1;
}

main #about {
  position: relative;
  top: -240px;
}


main div {
  height: 900px;
  font-family: $fonts;
  color: white;
}


main div h1 {
  font-size: 50px;
  color: $verde-acqua;
  display: inline-block;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}

main div h1::after {
  content: '';
  display: block;
  height: 2px;
  background-color: white;
  bottom: 5px;
}

main div .ab p {
  font-size: 27px;
}

main div .ab em {
  color: $verde-acqua;
}

main div .ab {
  height: 400px;
}

main #skill {
  position: relative;
  top: -320px;
}

main .sk {
  height: 175px;
}

main .sk div {
  position: relative;
  margin-top: 50px;;
  display: flex;
  justify-content: space-between;
  width: 400px;
}

main .sk div img {
  height: 70px;

}

main .sk h2 {
  font-size: 40px;
}



footer {
  background-color:#222222;
}

footer section a {
  font-family: $fonts;
  color: white;
  text-decoration: none;
}


footer a {
  text-decoration: none;
  font-family: $fonts;
  color: white;
}

.animazione-pers {
  display: inline-block;
}

.animazione-pers::after {
  margin: auto;
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: $verde-acqua;
  transition: width 0.3s;
}

.animazione-pers:hover {
  color: $verde-acqua;
}

.animazione-pers:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/*mobile*/
@media only screen and (max-width: 400px) {

  nav a {
    font-size: 18px;
  }


  header {
      background: linear-gradient(45deg, #313131 60%, $verde-acqua 40%);
      height: 650px;
      display: flex;
      align-items: center;
  }

  header div {
    display: flex;
    flex-direction: column;
    height: 525px;
  }

  header h1 {
   font-size: 21px;
   order: 2;
 }

  header img {
    height: 250px;
  }

  main {
    height: 1800px;
  }

  main div {
    height: 1200px;
  }


  main div h1 {
    font-size: 40px;
  }

  main #about {
    top: -50px;
  }

  main div .ab p {
    font-size: 17px;
  }

  main div .ab {
    height: 560px;
  }

  main #skill {
    top: -150px;
  }

  main .sk {
    height: 175px;
  }

  main .sk div {
    height: 30px;
    width: 200px;
  }

  main .sk h2 {
    font-size: 20px;
  }

}

@media only screen and (min-width: 401px) and (max-width: 506px) {

  header {
      background: linear-gradient(45deg, #313131 60%, $verde-acqua 40%);
      height: 900px;
      display: flex;
      align-items: center;
  }

  header div {
    display: flex;
    flex-direction: column;
    height: 650px;
  }

  header h1 {
   font-size: 25px;
   order: 2;
 }

  header img {
    height: 330px;
  }

  main {
    height: 1700px;
  }

  main div {
    height: 1000px;
  }


  main div h1 {
    font-size: 50px;
  }

  main #about {
    top: -150px;
  }

  main div .ab p {
    font-size: 20px;
  }

  main div .ab {
    height: 500px;
  }

  main #skill {
    top: -160px;
  }

  main .sk {
    height: 400px;
  }

  main .sk div {
    height: 30px;
    width: 40vw;
  }

  main .sk h2 {
    font-size: 20px;
  }

  main .img {
    position: relative;
    top: -130px;
  }


}

/*tablet*/
@media only screen and (min-width: 507px) and (max-width: 960px) {

  header {
      background: linear-gradient(45deg, #313131 60%, $verde-acqua 40%);
      height: 900px;
      display: flex;
      align-items: center;
  }

  header div {
    display: flex;
    flex-direction: column;
    height: 700px;
  }

  header h1 {
   font-size: 40px;
   order: 2;
 }

  header img {
    height: 350px;
  }

  main {
    height: 1700px;
  }

  main div {
    height: 1000px;
  }


  main div h1 {
    font-size: 50px;
  }

  main #about {
    top: -150px;
  }

  main div .ab p {
    font-size: 22px;
  }

  main div .ab {
    height: 500px;
  }

  main #skill {
    top: -300px;
  }

  main .sk {
    height: 400px;
  }

  main .sk div {
    height: 30px;
    width: 40vw;
  }

  main .sk h2 {
    font-size: 20px;
  }

  main .img {
    position: relative;
    top: -130px;
  }


}

/*tablet +*/
@media only screen and (min-width: 961px) and (max-width: 1300px) {



  header {
    height: 700px;
  }

  header img {
    height: 300px;
  }

  header h1 {
    font-size: 40px;
  }

  header div {
    width: 90vw;
  }

  main div {
    height: 1000px;
  }


  main div .ab {
    height: 500px;
  }

  main div .sk {

  }

}
